<% if object.errors.any? %>
  <div class="alert alert-warning">
    <% object.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% ***REMOVED*** %>
  </div>
<% ***REMOVED*** %>
